*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #4c15e4;
    font-family: 'Roboto', monospace;
}
header{
    background-color: dimgray;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    min-height: 125px;
    align-items: center;
}
#home-btn{
    position: absolute;
    padding: 7.5px;
}
#home-btn-icon{
    font-size: 36px;
}
main{
    background-color: #651ff0;
    margin: 25px auto 0 auto;
    padding: 10px 10px 0px 10px;
    min-height: 400px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-items: center;
    border: 2px solid black;
}
.timer-card{
    align-items: center;
    margin: 8px 6px;
    border: 2px solid black;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
}
.timer-name{
    max-height: 75px;
    overflow: hidden;
}
#add-timer-btn{
    font-size: 48px;
}
#overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-color: rgba(25, 25, 25, .75);
    display: none;
    text-align: center;
}
.modal{
    display: none;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: #9167ec;
    border: 2px solid black;
    max-width: 500px;
    max-height: 400px;
    min-height: 200px;
}
.close-modal-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    font-size: 24px;
    cursor: pointer;
}
#create-modal>h1{
    padding: 2px;
}
form{
    padding: 5px;
}
input{
    padding: 5px;
    margin: 5px;
}
button{
    padding: 10px;
    margin: 10px;
}
footer{
    height: 200px;
    background-color: #181818;
    margin-top: 50px;
    border-top: 2px solid black;
}